[user]
	name = giatrung2012
	email = trungrappar2002@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[color]
	ui = auto
[core]
	editor = nvim
	autocrlf = input
