[user]
	email = trunghsg2012@gmail.com
	name = giatrung2012
[core]
	editor = lvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
