[Unit]
Description=Disable bd prochot
 
[Service]
ExecStart=/home/giatrung2012/dotfiles/disable-bd-prochot/boost-startup.sh
 
[Install]
WantedBy=multi-user.target
